<!DOCTYPE html>
<html lang="en">
  <%- include('./comp/head.ejs') %>
  <body>
    <%- include('./comp/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        architecto laboriosam deleniti officiis quis quae numquam. Odit
        repudiandae, exercitationem reiciendis cum, sed maiores velit porro
        minima voluptatibus dicta eveniet, vero fuga provident dolorem dolore
        quasi delectus ducimus inventore maxime. Praesentium fugiat facere
        aperiam, rem doloremque necessitatibus, consequatur eligendi error
        libero dicta culpa, amet illo saepe! Magnam iure ipsam veniam fugit
        voluptatem minima ratione enim eaque vitae blanditiis excepturi ea ad
        eligendi doloribus, id, earum quasi perferendis dolorem temporibus
        consectetur nostrum animi fugiat hic saepe. Voluptatibus optio fuga
        magni accusantium voluptatum pariatur ipsa fugit expedita! Optio et
        quibusdam, dolore excepturi repellat doloribus aliquam possimus
        consequuntur praesentium voluptas rem ab harum, amet neque nihil
        deserunt eveniet? Fugit eligendi, atque id perspiciatis natus sint
        praesentium dolores magnam illum blanditiis, neque, perferendis cumque
        veritatis? Hic distinctio sequi nemo placeat vel ab eligendi
        reprehenderit expedita blanditiis animi, libero ipsum nisi mollitia
        pariatur, nulla veritatis architecto ducimus nam corporis aut. Incidunt,
        reprehenderit dolores numquam consequuntur earum ex nesciunt fugiat
        excepturi necessitatibus illum fugit, veniam natus alias quidem velit.
        Animi impedit officia nulla voluptas corporis eos delectus officiis
        similique praesentium unde adipisci laborum dolores, eveniet illo aut
        explicabo temporibus quisquam. Quo reiciendis laboriosam natus amet odit
        quisquam.
      </p>
    </div>
    <%- include('./comp/footer.ejs') %>
  </body>
</html>
