<nav>
  <div class="heros">
    <h1><a href="/">Hero collection</a></h1>
    <p>Every hero is here</p>
  </div>
  <ul>
    <li><a href="/">Heros</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/heros/create">Add hero</a></li>
  </ul>
</nav>
